<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" name="Hippodrome" packages="">
    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %highlight{%-5p} [%t] [%file:%line] : %m%n"/>
        </Console>
        <RollingFile name="RollingFile" fileName="logs/hippodrome.log" filePattern="logs/hippodrome.%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="%d %highlight{%-5p} [%t] [%file:%line] : %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="logs" maxDepth="1">
                    <IfFileName glob="hippodrome.*.log"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="CONSOLE"/>
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>
</Configuration>